= javascript_include_tag "application", defer: true

<br>
.text-center
  %h1
    = link_to details_budget_path(id: @budget.IdInterno) do
      #{@budget.anio_presupuesto} - #{@budget.nombre_presupuesto}

- if flash[:success].present?
  .alert.alert-success= flash[:success]

- if flash[:error].present?
  .alert.alert-danger= flash[:error]

%br
%div{style: "display: flex; flex-direction: row; width: 100%;"}
  %div{style: "flex: 1; padding: 10px; max-width: 100%; margin-left: 10%;"}
    .container.p-3.bg-light{ style: "width: 70%; margin-left: 16%;" }
      %label
        Agregar
        %button#budget_create_budgetline.btn.btn-primary{type: "button"} + Renglón
        %button#budget_create_check.btn.btn-primary{type: "button"} + Transacción
        %button#budget_create_detail.btn.btn-primary{type: "button"} + Movimiento
    %br
    .container.p-3.bg-light{ style: "width: 90%; margin-left: 16%;" }
      %label
        Visualizar
        %button#budget_view_budgetline.btn.btn-primary{type: "button"} Renglones
        = link_to 'Transacciones', details_check_path(@budget.IdInterno), class: 'btn btn-primary', id: 'checks_details'
        %button#budget_view_details.btn.btn-primary{type: "button"} Movimientos
        = link_to "Exportar", export_budget_path(format: :csv), class: "btn btn-success", id: "loadButton", method: :get
  
  %div{style: "flex: 1; padding: 10px; max-width: 50%; margin-right: 200px"}
    - presupuestado = @budget.monto_presupuestado.to_f
    - erogado = @budget.monto_erogado.to_f
    - por_erogar = @budget.monto_por_erogar.to_f
    - total = presupuestado
    - total = 1 if total.zero?

    - porcentaje_erogado = ((erogado / total) * 100).round
    - porcentaje_por_erogar = ((por_erogar / total) * 100).round
    = pie_chart [["Por erogar", porcentaje_por_erogar], ["Erogado", porcentaje_erogado]], colors: ["#59b41b", "#b8250e"]
= render partial: 'create_budgetline'
= render partial: 'create_check'
= render partial: 'create_detail'
= render partial: 'pending'
= render partial: 'view_checks'
= render partial: 'view_check_detail'

%br
.container
  .row
    .col-xs-12
      .custom-table-container
        .tabla-container
          %div.input-group.mb-3

          %table.table.table-striped.table-bordered
            %thead.thead-dark
              %tr
                %th Clave
                %th Año
                %th Nombre
                %th Presupuestado
                %th Erogado
                %th Por Erogar
                %th Progreso
            %tbody
              %tr
                %td= @budget.cve_presupuesto
                %td= @budget.anio_presupuesto
                %td= @budget.nombre_presupuesto
                %td{class: numeric_class(@budget.monto_presupuestado)}
                  = number_to_currency(@budget.monto_presupuestado)
                %td{class: numeric_class(@budget.monto_erogado)}
                  = number_to_currency(@budget.monto_erogado)
                %td{class: numeric_class(@budget.monto_por_erogar)}
                  = number_to_currency(@budget.monto_por_erogar)
                %td
                  .progress
                    - monto_presupuestado_budget = @budget.monto_presupuestado
                    - monto_erogado_budget = @budget.monto_erogado

                    - if monto_presupuestado_budget.present? && monto_presupuestado_budget.to_f != 0
                      - progress_value = (monto_erogado_budget.to_f / monto_presupuestado_budget.to_f * 100).to_i
                      .progress-bar{role: "progressbar", style: "width: #{progress_value}%", "aria-valuenow": progress_value, "aria-valuemin": 0, "aria-valuemax": 100}
                    - else
                      .progress-bar{role: "progressbar", style: "width: 0%", "aria-valuenow": 0, "aria-valuemin": 0, "aria-valuemax": 100}

.container.mx-auto.my-5.p-3.bg-light
  %table.table.text-center
    %thead
      %tr
        %th Total de Renglónes
        %th Transacciones Pendientes
        %th Monto sin asignar
    %tbody
      %tr
        %td= @budgetlines.size
        %td= link_to "#{@pending.size} transacciones", "#", id: "link_to_pendingModal"
        %td{class: numeric_class(@amount_available)}
          = number_to_currency(@amount_available)

.container
  .row
    .col-xs-12
      .custom-table-container

        .text-center
          %h1#renglones Renglónes

          %table.table.table-striped.table-bordered
            %thead.thead-dark
              %tr
                %th Clave
                %th Nombre
                %th Presupuestado
                %th Erogado
                %th Por Erogar
                %th Progreso
                %th Acciones
            %tbody
              - @budgetlines.each do |budgetline|
                %tr
                  %td= budgetline["cve_renglon_presupuestal"]
                  %td= budgetline["nombre_renglon_presupuestal"]
                  %td{class: numeric_class(budgetline["monto_presupuestado"])}
                    = number_to_currency(budgetline["monto_presupuestado"])
                  %td{class: numeric_class(budgetline["monto_erogado"])}
                    = number_to_currency(budgetline["monto_erogado"])
                  %td{class: numeric_class(budgetline["monto_por_erogar"])}
                    = number_to_currency(budgetline["monto_por_erogar"])
                  %td
                    .progress
                      - monto_presupuestado_budgetline = budgetline["monto_presupuestado"]
                      - monto_erogado_budgetline = budgetline["monto_erogado"]

                      - if monto_presupuestado_budgetline.present? && monto_presupuestado_budgetline.to_f != 0
                        - progress_value = (monto_erogado_budgetline.to_f / monto_presupuestado_budgetline.to_f * 100).to_i
                        .progress-bar{role: "progressbar", style: "width: #{progress_value}%", "aria-valuenow": progress_value, "aria-valuemin": 0, "aria-valuemax": 100}
                      - else
                        .progress-bar{role: "progressbar", style: "width: 0%", "aria-valuenow": 0, "aria-valuemin": 0, "aria-valuemax": 100}
                  %td.text-center
                    = link_to budgetline_path(id: budgetline["IdInterno"]) do
                      %i.fa.fa-eye.text-success.text-decoration-none
                    %button.download-check-button.btn{type: "button", "data-budgetlines": @budgetlines.to_json, "data-details": @checkdetails.to_json, "data-checks": @checks.to_json, "data-element-id": "view_check_modal_#{budgetline["IdInterno"]}"}
                      %i.fa.fa-download.text-success
                    = link_to budgetline_path(id: budgetline["IdInterno"]), method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar esta renglón?, se eliminaran todos los movimientos y cheques relacionados" } do
                      %i.fa.fa-trash.text-danger


<br>
<br>
<br>
