.text-center.mt-5.mb-5
  %h1 Editar Presupuesto

.container
  .row
    .col-xs-12
      .custom-table-container
        .tabla-container
          %div.input-group.mb-3.d-flex.justify-content-center
            = form_for @budget, url: budget_path(@budget.IdInterno), method: :patch, html: { class: "form", style: "max-width: 600px; width: 100%; margin: 0 auto;" } do |f|
              = f.hidden_field :IdInterno, value: @budget.IdInterno

              .form-group.mb-3
                %strong= f.label :cve_presupuesto, "Clave", class: "form-label"
                = f.text_field :cve_presupuesto, class: "form-control"
                %p.danger-text#clave-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :anio_presupuesto, "Año", class: "form-label"
                = f.text_field :anio_presupuesto, class: "form-control"
                %p.danger-text#year-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :nombre_presupuesto, "Nombre", class: "form-label"
                = f.text_field :nombre_presupuesto, class: "form-control"
                %p.danger-text#name-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :monto_presupuestado, "Monto Presupuestado", class: "form-label"
                = f.text_field :monto_presupuestado, class: "form-control"
                %p.danger-text#amount-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :monto_erogado, "Monto Erogado", class: "form-label"
                = f.text_field :monto_erogado, class: "form-control"
                %p.danger-text#amount-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :monto_por_erogar, "Monto Por Erogar", class: "form-label"
                = f.text_field :monto_por_erogar, class: "form-control"
                %p.danger-text#amount-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

              .form-group.mb-3
                %strong= f.label :Empresa
                = f.select :empresa_fk, @companies.map{ |company| [company["Nombre"], company["IdInterno"]] }, {}, class: "form-control"

              .actions.d-flex.justify-content-end
                = f.submit 'Guardar', class: "btn btn-success", id: "saveButton", disabled: true
