= form_for bank, html: { class: "form" } do |f|
  .form-group.mb-3
    %strong= f.label :Clave
    = f.text_field :cve_banco, class: "form-control"
    %p.danger-text#clave-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

  .form-group.mb-3
    %strong= f.label :Sucursal
    = f.text_field :sucursal_banco, class: "form-control"

  .form-group.mb-3
    %strong= f.label :Dirección
    = f.text_field :direccion_banco, class: "form-control"

  .form-group.mb-3
    %strong= f.label :Telefono
    = f.text_field :telefono_banco, class: "form-control"
    %p.danger-text#telefono-error{style: 'display: none;'} La data es incorrecta. Por favor, verifica los datos.

  .form-group.mb-3
    %strong= f.label :Nombre
    = f.text_field :nombre_banco, class: "form-control"

  .form-group.mb-3
    %strong= f.label :Empresa
    = f.select :empresa_fk, @companies.map{ |company| [company["Nombre"], company["IdInterno"]] }, {}, class: "form-control"

  .actions.d-flex.justify-content-end
    = f.submit 'Guardar', class: "btn btn-success", id: "saveButton", disabled: true
