%h1 Listado de Bancos

%table
  %thead
    %tr
      %th Clave
      %th Sucursal
      %th Dirección del Banco
      %th Telefono
      %th Nombre
  %tbody
    - @banks.each do |bank|
      %tr
        %td= bank["cve_banco"]
        %td= bank["sucursal_banco"]
        %td= bank["direccion_banco"]
        %td= bank["telefono_banco"]
        %td= bank["nombre_banco"]

