.text-center
  %h1 Usuarios

.container.mx-auto.my-5.p-3.bg-light
  = form_tag('/users/sign_up', method: :get) do
    - if can_create?(current_profile.rol)
      %button#do_backup.btn.btn-primary{type: "submit"}
        Crear

.container
  .row
    .col-xs-12
      .custom-table-container
        .tabla-container
          %div.input-group.mb-3
            %table.table.table-striped.table-bordered
              %thead.thead-dark
                %tr
                  %th Email
                  %th Fecha de Creación
                  %th.text-center Status del perfil
                  %th.text-center Reset de contraseña
                  %th.text-center Acciones
                %tbody
                  - @users.each do |user|
                    %tr
                      %td= user["email"]
                      %td= user["created_at"].strftime("%d/%m/%Y")
                      %td.text-center
                        - if user.can_login?
                          %span.text-success
                            %i.fa.fa-check-circle
                        - else
                          = link_to 'Crear perfil', new_profile_path(email: user["email"]), class: 'text-danger'
                      %td.text-center= link_to 'Cambiar contraseña', edit_user_password_path(id: user), class: 'btn btn-warning'
                      %td.text-center= link_to 'Eliminar', user_path(user), 
                        method: :delete, 
                        class: 'text-danger', 
                        data: { confirm: "¿Estás seguro de que deseas eliminar este usuario?" }
