.text-center
  %h1 Proveedores


- if flash[:success].present?
  .alert.alert-success= flash[:success]

- if flash[:error].present?
  .alert.alert-danger= flash[:error]

.container.mx-auto.my-5.p-3.bg-light
  %button#crearButton.btn.btn-primary{type: "button"} Crear

= render partial: 'create'

.container
  .row
    .col-xs-12
      .custom-table-container
        .tabla-container
          %div.input-group.mb-3
            %form{action: "/suppliers", method: "get"}
              .input-group.mb-3
                %input#filtroInput.form-control{type: "text", placeholder: "Buscar por nombre...", name: "search", aria_label: "Buscar"}
                %button.btn.btn-outline-secondary{type: "submit"} Buscar
              - if @searched
                %a.btn.btn-danger{href: "/suppliers"} Reiniciar Búsqueda

          %table.table.table-striped.table-bordered
            %thead.thead-dark
              %tr
                %th Id
                %th Nombre
                %th Calle
                %th Colonia
                %th Ciudad
                %th Estado
                %th RFC
                %th Representante
                %th Acciones

            %tbody
              - @suppliers.each do |supplier|
                %tr
                  %td= supplier["IdProveedor"]
                  %td= supplier["Nombre"]
                  %td= supplier["Calle"]
                  %td= supplier["Colonia"]
                  %td= supplier["Ciudad"]
                  %td= supplier["Estado"]
                  %td= supplier["RFC"]
                  %td= supplier["Representante"]
                  %td.text-center
                    - if can_edit?(current_profile.rol)
                      = link_to edit_supplier_path(supplier["IdInterno"]), class: 'text-warning text-decoration-none' do
                        %i.fa.fa-pencil
                    = content_tag :span, ' ', class: 'mx-2'
                    = link_to budgetline_path(id: 1) do
                      %i.fa.fa-trash.text-danger.text-decoration-none
        .pagination-container
          = paginate @suppliers
