%head
  %title SAP
  = csrf_meta_tags
  = csp_meta_tag
  = action_cable_meta_tag
  = javascript_importmap_tags
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = favicon_link_tag asset_path('favicon.png')
  = render('layouts/navbar')
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js'
  = javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartkick'
